html{
    background: #020213;
    margin-left: 60px;
}
.purple{
    color: blueviolet;
}
h1{
    color: white;
    font-size:55px;
    margin-bottom:6px;  
    font-family: 'poppins',sans-serif;
}
.btn{
    background-color: blueviolet;
    border-radius: 15px;
    border-width: 0px;
    padding: 15px;
    font-family: 'inter',sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    width: 622px;
    color: white;
}
input{
    display: block;
    margin: 15px;
    margin-left: 0px;
    font-size: 25px;
    width: 600px;
    border-radius: 12px;
    padding: 8px;
    background: #575256d3;
    color: white;
    
}
p{
    font-family: 'inter',sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: whitesmoke;
}
.container{
    display: flex;
    gap: 0px;
}
.sign{
    width: 550px;
}
.google,.git{
    width:20px ;
    height:20px;
    border-radius: 50px;
    margin-top:5px;
    margin-bottom: 10px;
}
.gbtn button{
    display: flex-inline;
    justify-content: center;
    text-align: center;
    background: transparent;
    border-style: solid;
    color: white;
    width: 200px;
    border-width: 2px;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 3px;
    border-color: blue;
}

